// @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

// colors
$whitecolor: #ffffff;
$greycolor: #959595;
$bluecolor: #16274f;
$orangecolor: #fe6f06;

//fonts
$mukta: 'Mukta', sans-serif;
$forum:'Forum';